mixin ubercourse-js(name)
  script(src=`ubercourse/js/${name}.min.js`, defer="defer")

script(src=`js/V.Project.config.js`, defer="defer")
+ubercourse-js('polyfills')
+ubercourse-js('utilities')
+ubercourse-js('reportBug')
+ubercourse-js('V.Pages')
+ubercourse-js('V.Navigation')
+ubercourse-js('V.Languages')
+ubercourse-js('V.Timelines')
+ubercourse-js('V.Menu')
+ubercourse-js('scrollbarWidth')
+ubercourse-js('V.Lightboxes')
